body {
    transform: scale(1.0);
    display: block;
    vertical-align: baseline;
    font: normal 100% 'century gothic', arial, sans-serif;
    color: rgb(56, 5, 99);
    background-image: url('https://leopold999.github.io/imsmart/pictures/backgrn_1600.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    user-select: none;   
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: rgb(131, 113, 153);
}

#wrap_all {
    min-width: 1200px;
    opacity: 0;
    
}

.background {
    display: block;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    float: left;
   
}
.background img {
    
}
#header {
    /* border: 1px solid black; */
    /* min-width: 100%; */
    height: 120px;
    width: 1200px;
    margin: auto;
    padding-top: 10px;
}
    

.logo {
    float: left;
    /* border: 1px solid black; */
    margin: 15px 0;
    width: 300px;

}
.logo img {
    width: 100%;
    
}

.title {
    float: right;
    padding: 0;
    font-size: 1.0em;
}

.menu-container {
    min-width: 400px;
    
}

.menu {    
    float: right;
    padding: 0;
    height: 50x;
    transform: scale(1);
    font-size: 1.0em;
    margin: 0;
}

.menu li {
    float: left;
    width: 140px;
    padding: 5px 5px;
    margin: 0 15px 0 15px;
    height: 25px;
    cursor: pointer;
    /* border: 3px solid rgba(255, 255, 255, 0); */
    /* border-radius: 5px; */
    text-align: center;
    
    
}


.menu li:hover {
    /* border: 3px solid rgb(56, 5, 99, 0.7); */
    
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 800ms;
    /* transition: border 800ms; */
    transform: scale(1.15);
    transition: transform 800ms;
   
    
}

.drop-down {
    width: 200px;
    position: absolute;
   
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 0;
    z-index: 1000;
    transition: transform 800ms;
    transform: scale(0.87);
    
    
}

.drop-down:hover {
    
}

.drop-down ul {
    float: none;
    display: block;
    padding: 0 0 0 20px;
    /* border: 3px solid rgb(56, 5, 99, 0.7); */
    /* border-radius: 10px; */
}

.drop-down li {
    height: 30px;
    border-bottom: 3px solid rgb(56, 5, 99, 0);
    opacity: 0.9;
    float: none;
    display: list-item;
    line-height: 1.9em;
    font-size: 0.9em;
    
    
}



#site_content {
    /* position: relative; */
    /* border: 1px solid black; */
    /* min-height: 800px; */
    /* min-height: 800px; */
    width: 1200px;
    margin: 50px auto;
}

.tagline {
    display: block;
   
   /* border: 1px solid black; */
   height: 50px;
   
   margin: auto;
   margin-top: 20px;
   margin-bottom: 45px;
   padding-left: 100px;
   font-size: 1.3em;
}
.carousel {
   

    padding-top: 10px;
    width: 1200px;
    height: 400px; 
    /* border: 1px solid black; */
    /* height: 500px; */
    margin: 1% auto;
    overflow: hidden;
    
    
}

.carousel img {
    display: inline;
    
}
/* #carousel ul li {
    
    transform: scale(1);
} */
.strip {
    position: relative;
    padding: 20px 0;
    transition: margin-left 1500ms;
    margin-left: -200px;
}

.strip span {
    margin-bottom: 20px;
    font-size: 1.5em;

    
}

.strip ul {
    width: 9999px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    
    

}
.strip ul li {
    cursor: pointer;
    display: inline-block;
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0.4);
    /* border: 5px solid rgba(255, 255, 255, 0); */
    /* border-radius: 20px; */
    width: 230px;
    height: 230px;
    padding: 40px;
    
    opacity: 0.8;
    
}
.strip ul li:hover {
    background-color: rgba(255, 255, 255, 0.7);

    /* border: 5px solid rgb(56, 5, 99, 0.7); */
    opacity: 0.9;

    transform: scale(1.15);
    transition: transform 800ms;
}

.strip ul li:not(:hover) {
  
    transition: transform 800ms;
}

.strip span {
   display: block;
}

.description {
    padding: 0 100px;
}


